<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Acme|PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <header>
      <h1>Acme Products</h1>
      <h2><a href="/">Home</a></h2>
    </header>

    <div class="categories">
      {% for _cat in categories %}
      <li {% if category === _cat %} class="my-btn-default category active" {% else %} class="my-btn-default category" {% endif %}>
        <a href="/categories/{{_cat}}/products">{{_cat}}</a></li>
      {% endfor %}
    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
